# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Ex3_Chrispens_Gahbiche/\.DS_Store

Ex3_Chrispens_Gahbiche/\.idea/

Ex3_Chrispens_Gahbiche/cmake-build-debug/

\.DS_Store

Ex4_Chrispens_Gahbiche/cmake-build-debug/

Ex4_Chrispens_Gahbiche/\.idea/

Ex5_Chrispens_Gahbiche/\.idea/workspace\.xml

Ex5_Chrispens_Gahbiche/cmake-build-debug/
